[data-cellid="below-grid_c1"][data-page="bidsandawardscommittee_bac__edit"][data-cellid="below-grid_c1"][data-page="bidsandawardscommittee_bac__edit"][data-cellid="below-grid_c1"][data-page="bidsandawardscommittee_bac__edit"] {
  font-weight: bold;
  font-size: 9px;
  padding-top: 10px;
}
[data-cellid="left_c1"][data-page="bidsandawardscommittee_bac__edit"][data-cellid="left_c1"][data-page="bidsandawardscommittee_bac__edit"][data-cellid="left_c1"][data-page="bidsandawardscommittee_bac__edit"] {
  font-weight: bold;
}
[data-cellid="top_c1"][data-page="bidsandawardscommittee_bac__edit"][data-cellid="top_c1"][data-page="bidsandawardscommittee_bac__edit"][data-cellid="top_c1"][data-page="bidsandawardscommittee_bac__edit"] {
  font-size: 15px;
  padding-top: 15px;
  padding-bottom: 75px;
  padding-left: 50px;
}
[data-cellid="grid_c3"][data-page="bidsandawardscommittee_bac__edit"][data-cellid="grid_c3"][data-page="bidsandawardscommittee_bac__edit"][data-cellid="grid_c3"][data-page="bidsandawardscommittee_bac__edit"] {
  font-size: 12px;
  padding-left: 35px;
}
[data-cellid="section_c4"][data-page="bidsandawardscommittee_bac__edit"][data-cellid="section_c4"][data-page="bidsandawardscommittee_bac__edit"][data-cellid="section_c4"][data-page="bidsandawardscommittee_bac__edit"] {
  padding-top: 30px;
}
[data-cellid="section_c2"][data-page="bidsandawardscommittee_bac__edit"][data-cellid="section_c2"][data-page="bidsandawardscommittee_bac__edit"][data-cellid="section_c2"][data-page="bidsandawardscommittee_bac__edit"] {
  padding-top: 30px;
}
[data-cellid="section_c"][data-page="bidsandawardscommittee_bac__edit"][data-cellid="section_c"][data-page="bidsandawardscommittee_bac__edit"][data-cellid="section_c"][data-page="bidsandawardscommittee_bac__edit"] {
  padding-top: 30px;
}
[data-page="bidsandawardscommittee_bac__edit"][data-itemid="edit_save"] > .btn {
  background-color: #efb11d;
  background-image: none;
  text-shadow: none;
  font-size: 9px;
}
[data-page="bidsandawardscommittee_bac__edit"][data-itemid="edit_back_list"] > .btn {
  font-size: 9px;
}
[data-page="bidsandawardscommittee_bac__edit"][data-itemid="edit_close"] > .btn {
  font-size: 9px;
}
[data-page="bidsandawardscommittee_bac__edit"][data-itemid="page_image_ash8f23hr"] {
  width: 400px;
}


