[data-cellid="above-grid_c1"][data-page="bidsandawardscommittee_bac__view"][data-cellid="above-grid_c1"][data-page="bidsandawardscommittee_bac__view"][data-cellid="above-grid_c1"][data-page="bidsandawardscommittee_bac__view"] {
  padding-bottom: 15px;
}
[data-cellid="left_c1"][data-page="bidsandawardscommittee_bac__view"][data-cellid="left_c1"][data-page="bidsandawardscommittee_bac__view"][data-cellid="left_c1"][data-page="bidsandawardscommittee_bac__view"] {
  font-weight: bold;
}
[data-page="bidsandawardscommittee_bac__view"][data-itemid="integrated_edit_field"][data-page="bidsandawardscommittee_bac__view"][data-itemid="integrated_edit_field"][data-page="bidsandawardscommittee_bac__view"][data-itemid="integrated_edit_field"][data-page="bidsandawardscommittee_bac__view"][data-itemid="integrated_edit_field"] {
  font-weight: bold;
}
[data-page="bidsandawardscommittee_bac__view"][data-itemid="integrated_edit_field9"][data-page="bidsandawardscommittee_bac__view"][data-itemid="integrated_edit_field9"][data-page="bidsandawardscommittee_bac__view"][data-itemid="integrated_edit_field9"][data-page="bidsandawardscommittee_bac__view"][data-itemid="integrated_edit_field9"] {
  font-weight: bold;
}
[data-page="bidsandawardscommittee_bac__view"][data-itemid="integrated_edit_field10"][data-page="bidsandawardscommittee_bac__view"][data-itemid="integrated_edit_field10"][data-page="bidsandawardscommittee_bac__view"][data-itemid="integrated_edit_field10"][data-page="bidsandawardscommittee_bac__view"][data-itemid="integrated_edit_field10"] {
  font-weight: bold;
}
[data-page="bidsandawardscommittee_bac__view"][data-itemid="integrated_edit_field11"][data-page="bidsandawardscommittee_bac__view"][data-itemid="integrated_edit_field11"][data-page="bidsandawardscommittee_bac__view"][data-itemid="integrated_edit_field11"][data-page="bidsandawardscommittee_bac__view"][data-itemid="integrated_edit_field11"] {
  font-weight: bold;
}
[data-page="bidsandawardscommittee_bac__view"][data-itemid="integrated_edit_field12"][data-page="bidsandawardscommittee_bac__view"][data-itemid="integrated_edit_field12"][data-page="bidsandawardscommittee_bac__view"][data-itemid="integrated_edit_field12"][data-page="bidsandawardscommittee_bac__view"][data-itemid="integrated_edit_field12"] {
  font-weight: bold;
}
[data-page="bidsandawardscommittee_bac__view"][data-itemid="integrated_edit_field13"][data-page="bidsandawardscommittee_bac__view"][data-itemid="integrated_edit_field13"][data-page="bidsandawardscommittee_bac__view"][data-itemid="integrated_edit_field13"][data-page="bidsandawardscommittee_bac__view"][data-itemid="integrated_edit_field13"] {
  font-weight: bold;
}
[data-page="bidsandawardscommittee_bac__view"][data-itemid="integrated_edit_field14"][data-page="bidsandawardscommittee_bac__view"][data-itemid="integrated_edit_field14"][data-page="bidsandawardscommittee_bac__view"][data-itemid="integrated_edit_field14"][data-page="bidsandawardscommittee_bac__view"][data-itemid="integrated_edit_field14"] {
  font-weight: bold;
}
[data-page="bidsandawardscommittee_bac__view"][data-itemid="edit_field1"][data-page="bidsandawardscommittee_bac__view"][data-itemid="edit_field1"][data-page="bidsandawardscommittee_bac__view"][data-itemid="edit_field1"][data-page="bidsandawardscommittee_bac__view"][data-itemid="edit_field1"] {
  font-weight: bold;
}
[data-page="bidsandawardscommittee_bac__view"][data-itemid="text"] {
  font-weight: bold;
  font-size: 20px;
}
[data-page="bidsandawardscommittee_bac__view"][data-itemid="view_back_list"] > .btn {
  font-size: 9px;
}
[data-page="bidsandawardscommittee_bac__view"][data-itemid="page_image_ash8f23hr"] {
  width: 400px;
}


.r-vbar-page .r-content-col .r-body {
  
    background: #ffffff;
    padding-bottom: 15px;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
    box-shadow: 2px 2px #cccccccc;
}