[data-cellid="above-grid_c1"][data-page="headofprocuringentity_hope__view"][data-cellid="above-grid_c1"][data-page="headofprocuringentity_hope__view"][data-cellid="above-grid_c1"][data-page="headofprocuringentity_hope__view"] {
  padding-bottom: 15px;
}
[data-cellid="left_c1"][data-page="headofprocuringentity_hope__view"][data-cellid="left_c1"][data-page="headofprocuringentity_hope__view"][data-cellid="left_c1"][data-page="headofprocuringentity_hope__view"] {
  font-weight: bold;
}
[data-page="headofprocuringentity_hope__view"][data-itemid="integrated_edit_field"][data-page="headofprocuringentity_hope__view"][data-itemid="integrated_edit_field"][data-page="headofprocuringentity_hope__view"][data-itemid="integrated_edit_field"][data-page="headofprocuringentity_hope__view"][data-itemid="integrated_edit_field"] {
  font-weight: bold;
}
[data-page="headofprocuringentity_hope__view"][data-itemid="integrated_edit_field5"][data-page="headofprocuringentity_hope__view"][data-itemid="integrated_edit_field5"][data-page="headofprocuringentity_hope__view"][data-itemid="integrated_edit_field5"][data-page="headofprocuringentity_hope__view"][data-itemid="integrated_edit_field5"] {
  font-weight: bold;
}
[data-page="headofprocuringentity_hope__view"][data-itemid="integrated_edit_field6"][data-page="headofprocuringentity_hope__view"][data-itemid="integrated_edit_field6"][data-page="headofprocuringentity_hope__view"][data-itemid="integrated_edit_field6"][data-page="headofprocuringentity_hope__view"][data-itemid="integrated_edit_field6"] {
  font-weight: bold;
}
[data-page="headofprocuringentity_hope__view"][data-itemid="edit_field1"][data-page="headofprocuringentity_hope__view"][data-itemid="edit_field1"][data-page="headofprocuringentity_hope__view"][data-itemid="edit_field1"][data-page="headofprocuringentity_hope__view"][data-itemid="edit_field1"] {
  font-weight: bold;
}
[data-page="headofprocuringentity_hope__view"][data-itemid="text"] {
  font-weight: bold;
  font-size: 20px;
}
[data-page="headofprocuringentity_hope__view"][data-itemid="view_back_list"] > .btn {
  font-size: 9px;
}
[data-page="headofprocuringentity_hope__view"][data-itemid="page_image_ash8f23hr"] {
  width: 400px;
}


.r-vbar-page .r-content-col .r-body {
  
    background: #ffffff;
    padding-bottom: 15px;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
    box-shadow: 2px 2px #cccccccc;
}