[data-cellid="left_c0"][data-page="observerinterest_list"][data-cellid="left_c0"][data-page="observerinterest_list"][data-cellid="left_c0"][data-page="observerinterest_list"] {
  font-weight: bold;
}
[data-cellid="left_c1"][data-page="observerinterest_list"][data-cellid="left_c1"][data-page="observerinterest_list"][data-cellid="left_c1"][data-page="observerinterest_list"] {
  font-weight: bold;
}
[data-cellid="grid_headcell_field"][data-page="observerinterest_list"][data-cellid="grid_headcell_field"][data-page="observerinterest_list"][data-cellid="grid_headcell_field"][data-page="observerinterest_list"] {
  width: 20%;
}
[data-cellid="grid_cell_field"][data-page="observerinterest_list"][data-cellid="grid_cell_field"][data-page="observerinterest_list"][data-cellid="grid_cell_field"][data-page="observerinterest_list"] {
  width: 20%;
}
[data-cellid="grid_footcell_field"][data-page="observerinterest_list"][data-cellid="grid_footcell_field"][data-page="observerinterest_list"][data-cellid="grid_footcell_field"][data-page="observerinterest_list"] {
  width: 20%;
  white-space: nowrap;
}
[data-cellid="grid_headcell_field1"][data-page="observerinterest_list"][data-cellid="grid_headcell_field1"][data-page="observerinterest_list"][data-cellid="grid_headcell_field1"][data-page="observerinterest_list"] {
  width: 20%;
}
[data-cellid="grid_cell_field1"][data-page="observerinterest_list"][data-cellid="grid_cell_field1"][data-page="observerinterest_list"][data-cellid="grid_cell_field1"][data-page="observerinterest_list"] {
  width: 20%;
}
[data-cellid="grid_footcell_field1"][data-page="observerinterest_list"][data-cellid="grid_footcell_field1"][data-page="observerinterest_list"][data-cellid="grid_footcell_field1"][data-page="observerinterest_list"] {
  width: 20%;
  white-space: nowrap;
}
[data-cellid="grid_headcell_field2"][data-page="observerinterest_list"][data-cellid="grid_headcell_field2"][data-page="observerinterest_list"][data-cellid="grid_headcell_field2"][data-page="observerinterest_list"] {
  width: 20%;
}
[data-cellid="grid_cell_field2"][data-page="observerinterest_list"][data-cellid="grid_cell_field2"][data-page="observerinterest_list"][data-cellid="grid_cell_field2"][data-page="observerinterest_list"] {
  width: 20%;
}
[data-cellid="grid_footcell_field2"][data-page="observerinterest_list"][data-cellid="grid_footcell_field2"][data-page="observerinterest_list"][data-cellid="grid_footcell_field2"][data-page="observerinterest_list"] {
  width: 20%;
  white-space: nowrap;
}
[data-cellid="grid_headcell_field3"][data-page="observerinterest_list"][data-cellid="grid_headcell_field3"][data-page="observerinterest_list"][data-cellid="grid_headcell_field3"][data-page="observerinterest_list"] {
  width: 20%;
}
[data-cellid="grid_cell_field3"][data-page="observerinterest_list"][data-cellid="grid_cell_field3"][data-page="observerinterest_list"][data-cellid="grid_cell_field3"][data-page="observerinterest_list"] {
  width: 20%;
}
[data-cellid="grid_footcell_field3"][data-page="observerinterest_list"][data-cellid="grid_footcell_field3"][data-page="observerinterest_list"][data-cellid="grid_footcell_field3"][data-page="observerinterest_list"] {
  width: 20%;
  white-space: nowrap;
}
[data-cellid="grid_headcell_field4"][data-page="observerinterest_list"][data-cellid="grid_headcell_field4"][data-page="observerinterest_list"][data-cellid="grid_headcell_field4"][data-page="observerinterest_list"] {
  width: 20%;
}
[data-cellid="grid_cell_field4"][data-page="observerinterest_list"][data-cellid="grid_cell_field4"][data-page="observerinterest_list"][data-cellid="grid_cell_field4"][data-page="observerinterest_list"] {
  width: 20%;
}
[data-cellid="grid_footcell_field4"][data-page="observerinterest_list"][data-cellid="grid_footcell_field4"][data-page="observerinterest_list"][data-cellid="grid_footcell_field4"][data-page="observerinterest_list"] {
  width: 20%;
  white-space: nowrap;
}
[data-cellid="grid_headcell_icons"][data-page="observerinterest_list"][data-cellid="grid_headcell_icons"][data-page="observerinterest_list"][data-cellid="grid_headcell_icons"][data-page="observerinterest_list"] {
  width: 30px;
}
[data-cellid="grid_cell_icons"][data-page="observerinterest_list"][data-cellid="grid_cell_icons"][data-page="observerinterest_list"][data-cellid="grid_cell_icons"][data-page="observerinterest_list"] {
  white-space: nowrap;
}
[data-page="observerinterest_list"][data-itemid="add"] > .btn {
  background-color: #efb11d;
  background-image: none;
  text-shadow: none;
}
[data-page="observerinterest_list"][data-itemid="page_image_ash8f23hr"] {
  width: 400px;
}


