[data-cellid="left_c0"][data-page="observerinterest_view"][data-cellid="left_c0"][data-page="observerinterest_view"][data-cellid="left_c0"][data-page="observerinterest_view"] {
  font-weight: bold;
}
[data-cellid="left_c1"][data-page="observerinterest_view"][data-cellid="left_c1"][data-page="observerinterest_view"][data-cellid="left_c1"][data-page="observerinterest_view"] {
  font-weight: bold;
}
[data-cellid="section_c4"][data-page="observerinterest_view"][data-cellid="section_c4"][data-page="observerinterest_view"][data-cellid="section_c4"][data-page="observerinterest_view"] {
  border-bottom: solid #f1f1f1 1px;
  padding-top: 10px;
}
[data-cellid="section_c2"][data-page="observerinterest_view"][data-cellid="section_c2"][data-page="observerinterest_view"][data-cellid="section_c2"][data-page="observerinterest_view"] {
  border-bottom: solid #f1f1f1 1px;
  padding-top: 10px;
}
[data-cellid="section_c"][data-page="observerinterest_view"][data-cellid="section_c"][data-page="observerinterest_view"][data-cellid="section_c"][data-page="observerinterest_view"] {
  border-bottom: solid #f1f1f1 1px;
  padding-top: 10px;
}
[data-cellid="section_c3"][data-page="observerinterest_view"][data-cellid="section_c3"][data-page="observerinterest_view"][data-cellid="section_c3"][data-page="observerinterest_view"] {
  border-bottom: solid #f1f1f1 1px;
  padding-top: 10px;
}
[data-cellid="section_c5"][data-page="observerinterest_view"][data-cellid="section_c5"][data-page="observerinterest_view"][data-cellid="section_c5"][data-page="observerinterest_view"] {
  border-bottom: solid #f1f1f1 1px;
  padding-top: 10px;
}
[data-cellid="section_c6"][data-page="observerinterest_view"][data-cellid="section_c6"][data-page="observerinterest_view"][data-cellid="section_c6"][data-page="observerinterest_view"] {
  border-bottom: solid #f1f1f1 1px;
  padding-top: 10px;
}
[data-cellid="section_c7"][data-page="observerinterest_view"][data-cellid="section_c7"][data-page="observerinterest_view"][data-cellid="section_c7"][data-page="observerinterest_view"] {
  border-bottom: solid #f1f1f1 1px;
  padding-top: 10px;
}
[data-cellid="section_c8"][data-page="observerinterest_view"][data-cellid="section_c8"][data-page="observerinterest_view"][data-cellid="section_c8"][data-page="observerinterest_view"] {
  border-bottom: solid #f1f1f1 1px;
  padding-top: 10px;
}
[data-cellid="section_c9"][data-page="observerinterest_view"][data-cellid="section_c9"][data-page="observerinterest_view"][data-cellid="section_c9"][data-page="observerinterest_view"] {
  border-bottom: solid #f1f1f1 1px;
  padding-top: 10px;
}
[data-cellid="section_c10"][data-page="observerinterest_view"][data-cellid="section_c10"][data-page="observerinterest_view"][data-cellid="section_c10"][data-page="observerinterest_view"] {
  border-bottom: solid #f1f1f1 1px;
  padding-top: 10px;
}
[data-page="observerinterest_view"][data-itemid="page_image_ash8f23hr"] {
  width: 400px;
}


.r-vbar-page .r-content-col .r-body {
  
    background: #ffffff;
    padding-bottom: 15px;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
    box-shadow: 2px 2px #cccccccc;
}

.r-vbar-page .r-content-col .r-body {
  
    background: #ffffff;
    padding-bottom: 15px;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
    box-shadow: 2px 2px #cccccccc;
}

@media print, (min-width: 768px) {
    [data-fullwidth] > * > .r-integrated-field.r-vertical-field:not([data-compact]) > [data-itemid], [data-fullwidth].r-ori-vert > * > [data-itemid] {
        margin-left: 0;
    }
}