[data-cellid="above-grid_c1"][data-page="ppmp_view"][data-cellid="above-grid_c1"][data-page="ppmp_view"][data-cellid="above-grid_c1"][data-page="ppmp_view"] {
  padding-bottom: 15px;
}
[data-cellid="left_c1"][data-page="ppmp_view"][data-cellid="left_c1"][data-page="ppmp_view"][data-cellid="left_c1"][data-page="ppmp_view"] {
  font-weight: bold;
}
[data-cellid="section_c4"][data-page="ppmp_view"][data-cellid="section_c4"][data-page="ppmp_view"][data-cellid="section_c4"][data-page="ppmp_view"] {
  border-bottom: solid #f1f1f1 1px;
  padding-top: 10px;
}
[data-cellid="section_c2"][data-page="ppmp_view"][data-cellid="section_c2"][data-page="ppmp_view"][data-cellid="section_c2"][data-page="ppmp_view"] {
  border-bottom: solid #f1f1f1 1px;
  padding-top: 10px;
}
[data-cellid="section_c"][data-page="ppmp_view"][data-cellid="section_c"][data-page="ppmp_view"][data-cellid="section_c"][data-page="ppmp_view"] {
  border-bottom: solid #f1f1f1 1px;
  padding-top: 10px;
}
[data-cellid="section_c3"][data-page="ppmp_view"][data-cellid="section_c3"][data-page="ppmp_view"][data-cellid="section_c3"][data-page="ppmp_view"] {
  border-bottom: solid #f1f1f1 1px;
  padding-top: 10px;
}
[data-cellid="section_c5"][data-page="ppmp_view"][data-cellid="section_c5"][data-page="ppmp_view"][data-cellid="section_c5"][data-page="ppmp_view"] {
  border-bottom: solid #f1f1f1 1px;
  padding-top: 10px;
}
[data-cellid="section_c6"][data-page="ppmp_view"][data-cellid="section_c6"][data-page="ppmp_view"][data-cellid="section_c6"][data-page="ppmp_view"] {
  border-bottom: solid #f1f1f1 1px;
  padding-top: 10px;
}
[data-cellid="section_c7"][data-page="ppmp_view"][data-cellid="section_c7"][data-page="ppmp_view"][data-cellid="section_c7"][data-page="ppmp_view"] {
  border-bottom: solid #f1f1f1 1px;
  padding-top: 10px;
}
[data-cellid="section_c8"][data-page="ppmp_view"][data-cellid="section_c8"][data-page="ppmp_view"][data-cellid="section_c8"][data-page="ppmp_view"] {
  border-bottom: solid #f1f1f1 1px;
  padding-top: 10px;
}
[data-cellid="section_c9"][data-page="ppmp_view"][data-cellid="section_c9"][data-page="ppmp_view"][data-cellid="section_c9"][data-page="ppmp_view"] {
  border-bottom: solid #f1f1f1 1px;
  padding-top: 10px;
}
[data-cellid="section_c10"][data-page="ppmp_view"][data-cellid="section_c10"][data-page="ppmp_view"][data-cellid="section_c10"][data-page="ppmp_view"] {
  border-bottom: solid #f1f1f1 1px;
  padding-top: 10px;
}
[data-cellid="section_c11"][data-page="ppmp_view"][data-cellid="section_c11"][data-page="ppmp_view"][data-cellid="section_c11"][data-page="ppmp_view"] {
  border-bottom: solid #f1f1f1 1px;
  padding-top: 10px;
}
[data-cellid="section_c12"][data-page="ppmp_view"][data-cellid="section_c12"][data-page="ppmp_view"][data-cellid="section_c12"][data-page="ppmp_view"] {
  border-bottom: solid #f1f1f1 1px;
  padding-top: 10px;
}
[data-cellid="section1_c4"][data-page="ppmp_view"][data-cellid="section1_c4"][data-page="ppmp_view"][data-cellid="section1_c4"][data-page="ppmp_view"] {
  border-bottom: solid #f1f1f1 1px;
  padding-top: 10px;
}
[data-cellid="section1_c2"][data-page="ppmp_view"][data-cellid="section1_c2"][data-page="ppmp_view"][data-cellid="section1_c2"][data-page="ppmp_view"] {
  border-bottom: solid #f1f1f1 1px;
  padding-top: 10px;
}
[data-cellid="section1_c"][data-page="ppmp_view"][data-cellid="section1_c"][data-page="ppmp_view"][data-cellid="section1_c"][data-page="ppmp_view"] {
  border-bottom: solid #f1f1f1 1px;
  padding-top: 10px;
}
[data-cellid="section1_c3"][data-page="ppmp_view"][data-cellid="section1_c3"][data-page="ppmp_view"][data-cellid="section1_c3"][data-page="ppmp_view"] {
  border-bottom: solid #f1f1f1 1px;
  padding-top: 10px;
}
[data-cellid="section1_c5"][data-page="ppmp_view"][data-cellid="section1_c5"][data-page="ppmp_view"][data-cellid="section1_c5"][data-page="ppmp_view"] {
  border-bottom: solid #f1f1f1 1px;
  padding-top: 10px;
}
[data-cellid="section1_c6"][data-page="ppmp_view"][data-cellid="section1_c6"][data-page="ppmp_view"][data-cellid="section1_c6"][data-page="ppmp_view"] {
  border-bottom: solid #f1f1f1 1px;
  padding-top: 10px;
}
[data-cellid="section1_c7"][data-page="ppmp_view"][data-cellid="section1_c7"][data-page="ppmp_view"][data-cellid="section1_c7"][data-page="ppmp_view"] {
  border-bottom: solid #f1f1f1 1px;
  padding-top: 10px;
}
[data-cellid="section1_c8"][data-page="ppmp_view"][data-cellid="section1_c8"][data-page="ppmp_view"][data-cellid="section1_c8"][data-page="ppmp_view"] {
  border-bottom: solid #f1f1f1 1px;
  padding-top: 10px;
}
[data-cellid="section1_c9"][data-page="ppmp_view"][data-cellid="section1_c9"][data-page="ppmp_view"][data-cellid="section1_c9"][data-page="ppmp_view"] {
  border-bottom: solid #f1f1f1 1px;
  padding-top: 10px;
}
[data-cellid="section1_c10"][data-page="ppmp_view"][data-cellid="section1_c10"][data-page="ppmp_view"][data-cellid="section1_c10"][data-page="ppmp_view"] {
  border-bottom: solid #f1f1f1 1px;
  padding-top: 10px;
}
[data-cellid="section1_c11"][data-page="ppmp_view"][data-cellid="section1_c11"][data-page="ppmp_view"][data-cellid="section1_c11"][data-page="ppmp_view"] {
  border-bottom: solid #f1f1f1 1px;
  padding-top: 10px;
}
[data-cellid="section1_c12"][data-page="ppmp_view"][data-cellid="section1_c12"][data-page="ppmp_view"][data-cellid="section1_c12"][data-page="ppmp_view"] {
  border-bottom: solid #f1f1f1 1px;
  padding-top: 10px;
}
[data-cellid="section1_c13"][data-page="ppmp_view"][data-cellid="section1_c13"][data-page="ppmp_view"][data-cellid="section1_c13"][data-page="ppmp_view"] {
  border-bottom: solid #f1f1f1 1px;
  padding-top: 10px;
}
[data-cellid="section1_c14"][data-page="ppmp_view"][data-cellid="section1_c14"][data-page="ppmp_view"][data-cellid="section1_c14"][data-page="ppmp_view"] {
  border-bottom: solid #f1f1f1 1px;
  padding-top: 10px;
}
[data-cellid="section1_c15"][data-page="ppmp_view"][data-cellid="section1_c15"][data-page="ppmp_view"][data-cellid="section1_c15"][data-page="ppmp_view"] {
  border-bottom: solid #f1f1f1 1px;
  padding-top: 10px;
}
[data-cellid="section1_c16"][data-page="ppmp_view"][data-cellid="section1_c16"][data-page="ppmp_view"][data-cellid="section1_c16"][data-page="ppmp_view"] {
  border-bottom: solid #f1f1f1 1px;
  padding-top: 10px;
}
[data-cellid="section1_c17"][data-page="ppmp_view"][data-cellid="section1_c17"][data-page="ppmp_view"][data-cellid="section1_c17"][data-page="ppmp_view"] {
  border-bottom: solid #f1f1f1 1px;
  padding-top: 10px;
}
[data-cellid="section1_c18"][data-page="ppmp_view"][data-cellid="section1_c18"][data-page="ppmp_view"][data-cellid="section1_c18"][data-page="ppmp_view"] {
  border-bottom: solid #f1f1f1 1px;
  padding-top: 10px;
}
[data-cellid="section1_c19"][data-page="ppmp_view"][data-cellid="section1_c19"][data-page="ppmp_view"][data-cellid="section1_c19"][data-page="ppmp_view"] {
  border-bottom: solid #f1f1f1 1px;
  padding-top: 10px;
}
[data-cellid="section1_c20"][data-page="ppmp_view"][data-cellid="section1_c20"][data-page="ppmp_view"][data-cellid="section1_c20"][data-page="ppmp_view"] {
  border-bottom: solid #f1f1f1 1px;
  padding-top: 10px;
}
[data-cellid="section1_c21"][data-page="ppmp_view"][data-cellid="section1_c21"][data-page="ppmp_view"][data-cellid="section1_c21"][data-page="ppmp_view"] {
  border-bottom: solid #f1f1f1 1px;
  padding-top: 10px;
}
[data-cellid="section1_c22"][data-page="ppmp_view"][data-cellid="section1_c22"][data-page="ppmp_view"][data-cellid="section1_c22"][data-page="ppmp_view"] {
  border-bottom: solid #f1f1f1 1px;
  padding-top: 10px;
}
[data-cellid="section1_c23"][data-page="ppmp_view"][data-cellid="section1_c23"][data-page="ppmp_view"][data-cellid="section1_c23"][data-page="ppmp_view"] {
  border-bottom: solid #f1f1f1 1px;
  padding-top: 10px;
}
[data-cellid="section1_c24"][data-page="ppmp_view"][data-cellid="section1_c24"][data-page="ppmp_view"][data-cellid="section1_c24"][data-page="ppmp_view"] {
  border-bottom: solid #f1f1f1 1px;
  padding-top: 10px;
}
[data-cellid="section2_c4"][data-page="ppmp_view"][data-cellid="section2_c4"][data-page="ppmp_view"][data-cellid="section2_c4"][data-page="ppmp_view"] {
  border-bottom: solid #f1f1f1 1px;
  padding-top: 10px;
}
[data-cellid="section2_c2"][data-page="ppmp_view"][data-cellid="section2_c2"][data-page="ppmp_view"][data-cellid="section2_c2"][data-page="ppmp_view"] {
  border-bottom: solid #f1f1f1 1px;
  padding-top: 10px;
}
[data-cellid="section2_c"][data-page="ppmp_view"][data-cellid="section2_c"][data-page="ppmp_view"][data-cellid="section2_c"][data-page="ppmp_view"] {
  border-bottom: solid #f1f1f1 1px;
  padding-top: 10px;
}
[data-cellid="section2_c3"][data-page="ppmp_view"][data-cellid="section2_c3"][data-page="ppmp_view"][data-cellid="section2_c3"][data-page="ppmp_view"] {
  border-bottom: solid #f1f1f1 1px;
  padding-top: 10px;
}
[data-cellid="section2_c5"][data-page="ppmp_view"][data-cellid="section2_c5"][data-page="ppmp_view"][data-cellid="section2_c5"][data-page="ppmp_view"] {
  border-bottom: solid #f1f1f1 1px;
  padding-top: 10px;
}
[data-cellid="section2_c6"][data-page="ppmp_view"][data-cellid="section2_c6"][data-page="ppmp_view"][data-cellid="section2_c6"][data-page="ppmp_view"] {
  border-bottom: solid #f1f1f1 1px;
  padding-top: 10px;
}
[data-cellid="section2_c7"][data-page="ppmp_view"][data-cellid="section2_c7"][data-page="ppmp_view"][data-cellid="section2_c7"][data-page="ppmp_view"] {
  border-bottom: solid #f1f1f1 1px;
  padding-top: 10px;
}
[data-cellid="section2_c8"][data-page="ppmp_view"][data-cellid="section2_c8"][data-page="ppmp_view"][data-cellid="section2_c8"][data-page="ppmp_view"] {
  border-bottom: solid #f1f1f1 1px;
  padding-top: 10px;
}
[data-cellid="section2_c9"][data-page="ppmp_view"][data-cellid="section2_c9"][data-page="ppmp_view"][data-cellid="section2_c9"][data-page="ppmp_view"] {
  border-bottom: solid #f1f1f1 1px;
  padding-top: 10px;
}
[data-cellid="section2_c10"][data-page="ppmp_view"][data-cellid="section2_c10"][data-page="ppmp_view"][data-cellid="section2_c10"][data-page="ppmp_view"] {
  border-bottom: solid #f1f1f1 1px;
  padding-top: 10px;
}
[data-cellid="section2_c11"][data-page="ppmp_view"][data-cellid="section2_c11"][data-page="ppmp_view"][data-cellid="section2_c11"][data-page="ppmp_view"] {
  border-bottom: solid #f1f1f1 1px;
  padding-top: 10px;
}
[data-cellid="section2_c12"][data-page="ppmp_view"][data-cellid="section2_c12"][data-page="ppmp_view"][data-cellid="section2_c12"][data-page="ppmp_view"] {
  border-bottom: solid #f1f1f1 1px;
  padding-top: 10px;
}
[data-page="ppmp_view"][data-itemid="page_image_ash8f23hr"] {
  width: 400px;
}

/*.panel-default > .panel-heading {
    color: #212121;
    background-color: #efb11d;
    border-color: #efb11d;
    font-size: 1.1em;
    box-shadow: none;
    
}

body {
    font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 1.5em;
    color: #333 !important;
    background: #f5f5f5;
     box-shadow: none;
}

@media screen and (max-width: 767px) {
    .r-grid:not([data-responsive]) > .panel.panel:not(.form-section) > .panel-heading {
        background-color: #efb11d;
        color: inherit;
    }
}


.r-grid > .panel:not(.form-section) > .panel-heading {
        background-color: #efb11d;
        color: inherit;
    }


.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus {
    border: none;
    -webkit-box-shadow: inset 0 0px 0 #efb11d;
    color: #fbfcff;
}*/

.r-grid > .panel:not(.form-section) > .panel-heading {
        background-color: #efb11d;
        color: inherit;
    }


.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus {
    border: none;
    -webkit-box-shadow: inset 0 0px 0 #efb11d;
    box-shadow: inset 0 0px 0 #efb11d;
    color: #fbfcff;
}

.nav-tabs > li > a, .nav-tabs > li > a:focus {
    color: #ffffff;
    box-shadow: inset 0 0px 0 #efb11d;
}
/*.r-vbar-page .r-content-col .r-body {
  
    background: #ffffff;
    padding-bottom: 15px;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
    box-shadow: 2px 2px #cccccccc;
}

@media print, (min-width: 768px) {
    [data-fullwidth] > * > .r-integrated-field.r-vertical-field:not([data-compact]) > [data-itemid], [data-fullwidth].r-ori-vert > * > [data-itemid] {
        margin-left: 0;
    }
}*/