[data-cellid="left_c1"][data-page="procurementunit_edit"][data-cellid="left_c1"][data-page="procurementunit_edit"][data-cellid="left_c1"][data-page="procurementunit_edit"] {
  font-weight: bold;
}
[data-cellid="top_c1"][data-page="procurementunit_edit"][data-cellid="top_c1"][data-page="procurementunit_edit"][data-cellid="top_c1"][data-page="procurementunit_edit"] {
  font-size: 15px;
  padding-top: 15px;
  padding-bottom: 75px;
  padding-left: 50px;
}
[data-cellid="grid_c3"][data-page="procurementunit_edit"][data-cellid="grid_c3"][data-page="procurementunit_edit"][data-cellid="grid_c3"][data-page="procurementunit_edit"] {
  font-size: 12px;
  padding-left: 35px;
}
[data-page="procurementunit_edit"][data-itemid="edit_save"] > .btn {
  background-color: #efb11d;
  background-image: none;
  text-shadow: none;
}
[data-page="procurementunit_edit"][data-itemid="page_image_ash8f23hr"] {
  width: 400px;
}


