[data-cellid="above-grid_c1"][data-page="procurementmonitoring_view"][data-cellid="above-grid_c1"][data-page="procurementmonitoring_view"][data-cellid="above-grid_c1"][data-page="procurementmonitoring_view"] {
  padding-bottom: 15px;
}
[data-cellid="left_c1"][data-page="procurementmonitoring_view"][data-cellid="left_c1"][data-page="procurementmonitoring_view"][data-cellid="left_c1"][data-page="procurementmonitoring_view"] {
  font-weight: bold;
}
[data-cellid="section_c4"][data-page="procurementmonitoring_view"][data-cellid="section_c4"][data-page="procurementmonitoring_view"][data-cellid="section_c4"][data-page="procurementmonitoring_view"] {
  border-bottom: solid #f1f1f1 1px;
  padding-top: 10px;
}
[data-cellid="section_c2"][data-page="procurementmonitoring_view"][data-cellid="section_c2"][data-page="procurementmonitoring_view"][data-cellid="section_c2"][data-page="procurementmonitoring_view"] {
  border-bottom: solid #f1f1f1 1px;
  padding-top: 10px;
}
[data-cellid="section_c"][data-page="procurementmonitoring_view"][data-cellid="section_c"][data-page="procurementmonitoring_view"][data-cellid="section_c"][data-page="procurementmonitoring_view"] {
  border-bottom: solid #f1f1f1 1px;
  padding-top: 10px;
}
[data-cellid="section_c3"][data-page="procurementmonitoring_view"][data-cellid="section_c3"][data-page="procurementmonitoring_view"][data-cellid="section_c3"][data-page="procurementmonitoring_view"] {
  border-bottom: solid #f1f1f1 1px;
  padding-top: 10px;
}
[data-cellid="section_c5"][data-page="procurementmonitoring_view"][data-cellid="section_c5"][data-page="procurementmonitoring_view"][data-cellid="section_c5"][data-page="procurementmonitoring_view"] {
  border-bottom: solid #f1f1f1 1px;
  padding-top: 10px;
}
[data-cellid="section_c6"][data-page="procurementmonitoring_view"][data-cellid="section_c6"][data-page="procurementmonitoring_view"][data-cellid="section_c6"][data-page="procurementmonitoring_view"] {
  border-bottom: solid #f1f1f1 1px;
  padding-top: 10px;
}
[data-cellid="section_c7"][data-page="procurementmonitoring_view"][data-cellid="section_c7"][data-page="procurementmonitoring_view"][data-cellid="section_c7"][data-page="procurementmonitoring_view"] {
  border-bottom: solid #f1f1f1 1px;
  padding-top: 10px;
}
[data-cellid="section_c8"][data-page="procurementmonitoring_view"][data-cellid="section_c8"][data-page="procurementmonitoring_view"][data-cellid="section_c8"][data-page="procurementmonitoring_view"] {
  border-bottom: solid #f1f1f1 1px;
  padding-top: 10px;
}
[data-cellid="section_c9"][data-page="procurementmonitoring_view"][data-cellid="section_c9"][data-page="procurementmonitoring_view"][data-cellid="section_c9"][data-page="procurementmonitoring_view"] {
  border-bottom: solid #f1f1f1 1px;
  padding-top: 10px;
}
[data-cellid="section_c10"][data-page="procurementmonitoring_view"][data-cellid="section_c10"][data-page="procurementmonitoring_view"][data-cellid="section_c10"][data-page="procurementmonitoring_view"] {
  border-bottom: solid #f1f1f1 1px;
  padding-top: 10px;
}
[data-cellid="section_c11"][data-page="procurementmonitoring_view"][data-cellid="section_c11"][data-page="procurementmonitoring_view"][data-cellid="section_c11"][data-page="procurementmonitoring_view"] {
  border-bottom: solid #f1f1f1 1px;
  padding-top: 10px;
}
[data-cellid="section_c12"][data-page="procurementmonitoring_view"][data-cellid="section_c12"][data-page="procurementmonitoring_view"][data-cellid="section_c12"][data-page="procurementmonitoring_view"] {
  border-bottom: solid #f1f1f1 1px;
  padding-top: 10px;
}
[data-cellid="section_c13"][data-page="procurementmonitoring_view"][data-cellid="section_c13"][data-page="procurementmonitoring_view"][data-cellid="section_c13"][data-page="procurementmonitoring_view"] {
  border-bottom: solid #f1f1f1 1px;
  padding-top: 10px;
}
[data-cellid="section_c14"][data-page="procurementmonitoring_view"][data-cellid="section_c14"][data-page="procurementmonitoring_view"][data-cellid="section_c14"][data-page="procurementmonitoring_view"] {
  border-bottom: solid #f1f1f1 1px;
  padding-top: 10px;
}
[data-cellid="section_c15"][data-page="procurementmonitoring_view"][data-cellid="section_c15"][data-page="procurementmonitoring_view"][data-cellid="section_c15"][data-page="procurementmonitoring_view"] {
  border-bottom: solid #f1f1f1 1px;
  padding-top: 10px;
}
[data-cellid="section_c16"][data-page="procurementmonitoring_view"][data-cellid="section_c16"][data-page="procurementmonitoring_view"][data-cellid="section_c16"][data-page="procurementmonitoring_view"] {
  border-bottom: solid #f1f1f1 1px;
  padding-top: 10px;
}
[data-cellid="section_c17"][data-page="procurementmonitoring_view"][data-cellid="section_c17"][data-page="procurementmonitoring_view"][data-cellid="section_c17"][data-page="procurementmonitoring_view"] {
  border-bottom: solid #f1f1f1 1px;
  padding-top: 10px;
}
[data-cellid="section_c18"][data-page="procurementmonitoring_view"][data-cellid="section_c18"][data-page="procurementmonitoring_view"][data-cellid="section_c18"][data-page="procurementmonitoring_view"] {
  border-bottom: solid #f1f1f1 1px;
  padding-top: 10px;
}
[data-cellid="section_c19"][data-page="procurementmonitoring_view"][data-cellid="section_c19"][data-page="procurementmonitoring_view"][data-cellid="section_c19"][data-page="procurementmonitoring_view"] {
  border-bottom: solid #f1f1f1 1px;
  padding-top: 10px;
}
[data-cellid="section_c20"][data-page="procurementmonitoring_view"][data-cellid="section_c20"][data-page="procurementmonitoring_view"][data-cellid="section_c20"][data-page="procurementmonitoring_view"] {
  border-bottom: solid #f1f1f1 1px;
  padding-top: 10px;
}
[data-cellid="section_c21"][data-page="procurementmonitoring_view"][data-cellid="section_c21"][data-page="procurementmonitoring_view"][data-cellid="section_c21"][data-page="procurementmonitoring_view"] {
  border-bottom: solid #f1f1f1 1px;
  padding-top: 10px;
}
[data-cellid="section_c22"][data-page="procurementmonitoring_view"][data-cellid="section_c22"][data-page="procurementmonitoring_view"][data-cellid="section_c22"][data-page="procurementmonitoring_view"] {
  border-bottom: solid #f1f1f1 1px;
  padding-top: 10px;
}
[data-cellid="section_c23"][data-page="procurementmonitoring_view"][data-cellid="section_c23"][data-page="procurementmonitoring_view"][data-cellid="section_c23"][data-page="procurementmonitoring_view"] {
  border-bottom: solid #f1f1f1 1px;
  padding-top: 10px;
}
[data-cellid="section_c24"][data-page="procurementmonitoring_view"][data-cellid="section_c24"][data-page="procurementmonitoring_view"][data-cellid="section_c24"][data-page="procurementmonitoring_view"] {
  border-bottom: solid #f1f1f1 1px;
  padding-top: 10px;
}
[data-cellid="section_c25"][data-page="procurementmonitoring_view"][data-cellid="section_c25"][data-page="procurementmonitoring_view"][data-cellid="section_c25"][data-page="procurementmonitoring_view"] {
  border-bottom: solid #f1f1f1 1px;
  padding-top: 10px;
}
[data-cellid="section_c26"][data-page="procurementmonitoring_view"][data-cellid="section_c26"][data-page="procurementmonitoring_view"][data-cellid="section_c26"][data-page="procurementmonitoring_view"] {
  border-bottom: solid #f1f1f1 1px;
  padding-top: 10px;
}
[data-cellid="section_c27"][data-page="procurementmonitoring_view"][data-cellid="section_c27"][data-page="procurementmonitoring_view"][data-cellid="section_c27"][data-page="procurementmonitoring_view"] {
  border-bottom: solid #f1f1f1 1px;
  padding-top: 10px;
}
[data-cellid="section_c28"][data-page="procurementmonitoring_view"][data-cellid="section_c28"][data-page="procurementmonitoring_view"][data-cellid="section_c28"][data-page="procurementmonitoring_view"] {
  border-bottom: solid #f1f1f1 1px;
  padding-top: 10px;
}
[data-cellid="section_c29"][data-page="procurementmonitoring_view"][data-cellid="section_c29"][data-page="procurementmonitoring_view"][data-cellid="section_c29"][data-page="procurementmonitoring_view"] {
  border-bottom: solid #f1f1f1 1px;
  padding-top: 10px;
}
[data-cellid="section_c30"][data-page="procurementmonitoring_view"][data-cellid="section_c30"][data-page="procurementmonitoring_view"][data-cellid="section_c30"][data-page="procurementmonitoring_view"] {
  border-bottom: solid #f1f1f1 1px;
  padding-top: 10px;
}
[data-cellid="section_c31"][data-page="procurementmonitoring_view"][data-cellid="section_c31"][data-page="procurementmonitoring_view"][data-cellid="section_c31"][data-page="procurementmonitoring_view"] {
  border-bottom: solid #f1f1f1 1px;
  padding-top: 10px;
}
[data-cellid="section_c32"][data-page="procurementmonitoring_view"][data-cellid="section_c32"][data-page="procurementmonitoring_view"][data-cellid="section_c32"][data-page="procurementmonitoring_view"] {
  border-bottom: solid #f1f1f1 1px;
  padding-top: 10px;
}
[data-cellid="section1_c4"][data-page="procurementmonitoring_view"][data-cellid="section1_c4"][data-page="procurementmonitoring_view"][data-cellid="section1_c4"][data-page="procurementmonitoring_view"] {
  border-bottom: solid #f1f1f1 1px;
  padding-top: 10px;
}
[data-cellid="section1_c2"][data-page="procurementmonitoring_view"][data-cellid="section1_c2"][data-page="procurementmonitoring_view"][data-cellid="section1_c2"][data-page="procurementmonitoring_view"] {
  border-bottom: solid #f1f1f1 1px;
  padding-top: 10px;
}
[data-cellid="section1_c"][data-page="procurementmonitoring_view"][data-cellid="section1_c"][data-page="procurementmonitoring_view"][data-cellid="section1_c"][data-page="procurementmonitoring_view"] {
  border-bottom: solid #f1f1f1 1px;
  padding-top: 10px;
}
[data-cellid="section1_c3"][data-page="procurementmonitoring_view"][data-cellid="section1_c3"][data-page="procurementmonitoring_view"][data-cellid="section1_c3"][data-page="procurementmonitoring_view"] {
  border-bottom: solid #f1f1f1 1px;
  padding-top: 10px;
}
[data-cellid="section1_c5"][data-page="procurementmonitoring_view"][data-cellid="section1_c5"][data-page="procurementmonitoring_view"][data-cellid="section1_c5"][data-page="procurementmonitoring_view"] {
  border-bottom: solid #f1f1f1 1px;
  padding-top: 10px;
}
[data-cellid="section1_c6"][data-page="procurementmonitoring_view"][data-cellid="section1_c6"][data-page="procurementmonitoring_view"][data-cellid="section1_c6"][data-page="procurementmonitoring_view"] {
  border-bottom: solid #f1f1f1 1px;
  padding-top: 10px;
}
[data-cellid="section1_c7"][data-page="procurementmonitoring_view"][data-cellid="section1_c7"][data-page="procurementmonitoring_view"][data-cellid="section1_c7"][data-page="procurementmonitoring_view"] {
  border-bottom: solid #f1f1f1 1px;
  padding-top: 10px;
}
[data-cellid="section1_c8"][data-page="procurementmonitoring_view"][data-cellid="section1_c8"][data-page="procurementmonitoring_view"][data-cellid="section1_c8"][data-page="procurementmonitoring_view"] {
  border-bottom: solid #f1f1f1 1px;
  padding-top: 10px;
}
[data-cellid="section1_c9"][data-page="procurementmonitoring_view"][data-cellid="section1_c9"][data-page="procurementmonitoring_view"][data-cellid="section1_c9"][data-page="procurementmonitoring_view"] {
  border-bottom: solid #f1f1f1 1px;
  padding-top: 10px;
}
[data-cellid="section1_c10"][data-page="procurementmonitoring_view"][data-cellid="section1_c10"][data-page="procurementmonitoring_view"][data-cellid="section1_c10"][data-page="procurementmonitoring_view"] {
  border-bottom: solid #f1f1f1 1px;
  padding-top: 10px;
}
[data-cellid="section1_c11"][data-page="procurementmonitoring_view"][data-cellid="section1_c11"][data-page="procurementmonitoring_view"][data-cellid="section1_c11"][data-page="procurementmonitoring_view"] {
  border-bottom: solid #f1f1f1 1px;
  padding-top: 10px;
}
[data-cellid="section1_c12"][data-page="procurementmonitoring_view"][data-cellid="section1_c12"][data-page="procurementmonitoring_view"][data-cellid="section1_c12"][data-page="procurementmonitoring_view"] {
  border-bottom: solid #f1f1f1 1px;
  padding-top: 10px;
}
[data-cellid="section1_c13"][data-page="procurementmonitoring_view"][data-cellid="section1_c13"][data-page="procurementmonitoring_view"][data-cellid="section1_c13"][data-page="procurementmonitoring_view"] {
  border-bottom: solid #f1f1f1 1px;
  padding-top: 10px;
}
[data-cellid="section1_c14"][data-page="procurementmonitoring_view"][data-cellid="section1_c14"][data-page="procurementmonitoring_view"][data-cellid="section1_c14"][data-page="procurementmonitoring_view"] {
  border-bottom: solid #f1f1f1 1px;
  padding-top: 10px;
}
[data-cellid="section1_c15"][data-page="procurementmonitoring_view"][data-cellid="section1_c15"][data-page="procurementmonitoring_view"][data-cellid="section1_c15"][data-page="procurementmonitoring_view"] {
  border-bottom: solid #f1f1f1 1px;
  padding-top: 10px;
}
[data-cellid="section1_c16"][data-page="procurementmonitoring_view"][data-cellid="section1_c16"][data-page="procurementmonitoring_view"][data-cellid="section1_c16"][data-page="procurementmonitoring_view"] {
  border-bottom: solid #f1f1f1 1px;
  padding-top: 10px;
}
[data-cellid="section1_c17"][data-page="procurementmonitoring_view"][data-cellid="section1_c17"][data-page="procurementmonitoring_view"][data-cellid="section1_c17"][data-page="procurementmonitoring_view"] {
  border-bottom: solid #f1f1f1 1px;
  padding-top: 10px;
}
[data-cellid="section1_c18"][data-page="procurementmonitoring_view"][data-cellid="section1_c18"][data-page="procurementmonitoring_view"][data-cellid="section1_c18"][data-page="procurementmonitoring_view"] {
  border-bottom: solid #f1f1f1 1px;
  padding-top: 10px;
}
[data-cellid="section1_c19"][data-page="procurementmonitoring_view"][data-cellid="section1_c19"][data-page="procurementmonitoring_view"][data-cellid="section1_c19"][data-page="procurementmonitoring_view"] {
  border-bottom: solid #f1f1f1 1px;
  padding-top: 10px;
}
[data-cellid="section1_c20"][data-page="procurementmonitoring_view"][data-cellid="section1_c20"][data-page="procurementmonitoring_view"][data-cellid="section1_c20"][data-page="procurementmonitoring_view"] {
  border-bottom: solid #f1f1f1 1px;
  padding-top: 10px;
}
[data-cellid="section1_c21"][data-page="procurementmonitoring_view"][data-cellid="section1_c21"][data-page="procurementmonitoring_view"][data-cellid="section1_c21"][data-page="procurementmonitoring_view"] {
  border-bottom: solid #f1f1f1 1px;
  padding-top: 10px;
}
[data-cellid="section1_c22"][data-page="procurementmonitoring_view"][data-cellid="section1_c22"][data-page="procurementmonitoring_view"][data-cellid="section1_c22"][data-page="procurementmonitoring_view"] {
  border-bottom: solid #f1f1f1 1px;
  padding-top: 10px;
}
[data-cellid="section1_c23"][data-page="procurementmonitoring_view"][data-cellid="section1_c23"][data-page="procurementmonitoring_view"][data-cellid="section1_c23"][data-page="procurementmonitoring_view"] {
  border-bottom: solid #f1f1f1 1px;
  padding-top: 10px;
}
[data-cellid="section1_c24"][data-page="procurementmonitoring_view"][data-cellid="section1_c24"][data-page="procurementmonitoring_view"][data-cellid="section1_c24"][data-page="procurementmonitoring_view"] {
  border-bottom: solid #f1f1f1 1px;
  padding-top: 10px;
}
[data-cellid="section2_c4"][data-page="procurementmonitoring_view"][data-cellid="section2_c4"][data-page="procurementmonitoring_view"][data-cellid="section2_c4"][data-page="procurementmonitoring_view"] {
  border-bottom: solid #f1f1f1 1px;
  padding-top: 10px;
}
[data-cellid="section2_c2"][data-page="procurementmonitoring_view"][data-cellid="section2_c2"][data-page="procurementmonitoring_view"][data-cellid="section2_c2"][data-page="procurementmonitoring_view"] {
  border-bottom: solid #f1f1f1 1px;
  padding-top: 10px;
}
[data-cellid="section2_c"][data-page="procurementmonitoring_view"][data-cellid="section2_c"][data-page="procurementmonitoring_view"][data-cellid="section2_c"][data-page="procurementmonitoring_view"] {
  border-bottom: solid #f1f1f1 1px;
  padding-top: 10px;
}
[data-cellid="section2_c3"][data-page="procurementmonitoring_view"][data-cellid="section2_c3"][data-page="procurementmonitoring_view"][data-cellid="section2_c3"][data-page="procurementmonitoring_view"] {
  border-bottom: solid #f1f1f1 1px;
  padding-top: 10px;
}
[data-cellid="section2_c5"][data-page="procurementmonitoring_view"][data-cellid="section2_c5"][data-page="procurementmonitoring_view"][data-cellid="section2_c5"][data-page="procurementmonitoring_view"] {
  border-bottom: solid #f1f1f1 1px;
  padding-top: 10px;
}
[data-cellid="section2_c6"][data-page="procurementmonitoring_view"][data-cellid="section2_c6"][data-page="procurementmonitoring_view"][data-cellid="section2_c6"][data-page="procurementmonitoring_view"] {
  border-bottom: solid #f1f1f1 1px;
  padding-top: 10px;
}
[data-cellid="section2_c7"][data-page="procurementmonitoring_view"][data-cellid="section2_c7"][data-page="procurementmonitoring_view"][data-cellid="section2_c7"][data-page="procurementmonitoring_view"] {
  border-bottom: solid #f1f1f1 1px;
  padding-top: 10px;
}
[data-cellid="section2_c8"][data-page="procurementmonitoring_view"][data-cellid="section2_c8"][data-page="procurementmonitoring_view"][data-cellid="section2_c8"][data-page="procurementmonitoring_view"] {
  border-bottom: solid #f1f1f1 1px;
  padding-top: 10px;
}
[data-cellid="section2_c9"][data-page="procurementmonitoring_view"][data-cellid="section2_c9"][data-page="procurementmonitoring_view"][data-cellid="section2_c9"][data-page="procurementmonitoring_view"] {
  border-bottom: solid #f1f1f1 1px;
  padding-top: 10px;
}
[data-cellid="section2_c10"][data-page="procurementmonitoring_view"][data-cellid="section2_c10"][data-page="procurementmonitoring_view"][data-cellid="section2_c10"][data-page="procurementmonitoring_view"] {
  border-bottom: solid #f1f1f1 1px;
  padding-top: 10px;
}
[data-cellid="section2_c11"][data-page="procurementmonitoring_view"][data-cellid="section2_c11"][data-page="procurementmonitoring_view"][data-cellid="section2_c11"][data-page="procurementmonitoring_view"] {
  border-bottom: solid #f1f1f1 1px;
  padding-top: 10px;
}
[data-cellid="section2_c12"][data-page="procurementmonitoring_view"][data-cellid="section2_c12"][data-page="procurementmonitoring_view"][data-cellid="section2_c12"][data-page="procurementmonitoring_view"] {
  border-bottom: solid #f1f1f1 1px;
  padding-top: 10px;
}
[data-page="procurementmonitoring_view"][data-itemid="integrated_edit_field44"][data-page="procurementmonitoring_view"][data-itemid="integrated_edit_field44"][data-page="procurementmonitoring_view"][data-itemid="integrated_edit_field44"][data-page="procurementmonitoring_view"][data-itemid="integrated_edit_field44"] {
  font-weight: bold;
}
[data-page="procurementmonitoring_view"][data-itemid="integrated_edit_field45"][data-page="procurementmonitoring_view"][data-itemid="integrated_edit_field45"][data-page="procurementmonitoring_view"][data-itemid="integrated_edit_field45"][data-page="procurementmonitoring_view"][data-itemid="integrated_edit_field45"] {
  font-weight: bold;
}
[data-page="procurementmonitoring_view"][data-itemid="integrated_edit_field46"][data-page="procurementmonitoring_view"][data-itemid="integrated_edit_field46"][data-page="procurementmonitoring_view"][data-itemid="integrated_edit_field46"][data-page="procurementmonitoring_view"][data-itemid="integrated_edit_field46"] {
  font-weight: bold;
}
[data-page="procurementmonitoring_view"][data-itemid="integrated_edit_field47"][data-page="procurementmonitoring_view"][data-itemid="integrated_edit_field47"][data-page="procurementmonitoring_view"][data-itemid="integrated_edit_field47"][data-page="procurementmonitoring_view"][data-itemid="integrated_edit_field47"] {
  font-weight: bold;
}
[data-page="procurementmonitoring_view"][data-itemid="integrated_edit_field48"][data-page="procurementmonitoring_view"][data-itemid="integrated_edit_field48"][data-page="procurementmonitoring_view"][data-itemid="integrated_edit_field48"][data-page="procurementmonitoring_view"][data-itemid="integrated_edit_field48"] {
  font-weight: bold;
}
[data-page="procurementmonitoring_view"][data-itemid="integrated_edit_field49"][data-page="procurementmonitoring_view"][data-itemid="integrated_edit_field49"][data-page="procurementmonitoring_view"][data-itemid="integrated_edit_field49"][data-page="procurementmonitoring_view"][data-itemid="integrated_edit_field49"] {
  font-weight: bold;
}
[data-page="procurementmonitoring_view"][data-itemid="integrated_edit_field50"][data-page="procurementmonitoring_view"][data-itemid="integrated_edit_field50"][data-page="procurementmonitoring_view"][data-itemid="integrated_edit_field50"][data-page="procurementmonitoring_view"][data-itemid="integrated_edit_field50"] {
  font-weight: bold;
}
[data-page="procurementmonitoring_view"][data-itemid="integrated_edit_field51"][data-page="procurementmonitoring_view"][data-itemid="integrated_edit_field51"][data-page="procurementmonitoring_view"][data-itemid="integrated_edit_field51"][data-page="procurementmonitoring_view"][data-itemid="integrated_edit_field51"] {
  font-weight: bold;
}
[data-page="procurementmonitoring_view"][data-itemid="integrated_edit_field52"][data-page="procurementmonitoring_view"][data-itemid="integrated_edit_field52"][data-page="procurementmonitoring_view"][data-itemid="integrated_edit_field52"][data-page="procurementmonitoring_view"][data-itemid="integrated_edit_field52"] {
  font-weight: bold;
}
[data-page="procurementmonitoring_view"][data-itemid="integrated_edit_field53"][data-page="procurementmonitoring_view"][data-itemid="integrated_edit_field53"][data-page="procurementmonitoring_view"][data-itemid="integrated_edit_field53"][data-page="procurementmonitoring_view"][data-itemid="integrated_edit_field53"] {
  font-weight: bold;
}
[data-page="procurementmonitoring_view"][data-itemid="integrated_edit_field54"][data-page="procurementmonitoring_view"][data-itemid="integrated_edit_field54"][data-page="procurementmonitoring_view"][data-itemid="integrated_edit_field54"][data-page="procurementmonitoring_view"][data-itemid="integrated_edit_field54"] {
  font-weight: bold;
}
[data-page="procurementmonitoring_view"][data-itemid="integrated_edit_field55"][data-page="procurementmonitoring_view"][data-itemid="integrated_edit_field55"][data-page="procurementmonitoring_view"][data-itemid="integrated_edit_field55"][data-page="procurementmonitoring_view"][data-itemid="integrated_edit_field55"] {
  font-weight: bold;
}
[data-page="procurementmonitoring_view"][data-itemid="integrated_edit_field56"][data-page="procurementmonitoring_view"][data-itemid="integrated_edit_field56"][data-page="procurementmonitoring_view"][data-itemid="integrated_edit_field56"][data-page="procurementmonitoring_view"][data-itemid="integrated_edit_field56"] {
  font-weight: bold;
}
[data-page="procurementmonitoring_view"][data-itemid="integrated_edit_field57"][data-page="procurementmonitoring_view"][data-itemid="integrated_edit_field57"][data-page="procurementmonitoring_view"][data-itemid="integrated_edit_field57"][data-page="procurementmonitoring_view"][data-itemid="integrated_edit_field57"] {
  font-weight: bold;
}
[data-page="procurementmonitoring_view"][data-itemid="integrated_edit_field58"][data-page="procurementmonitoring_view"][data-itemid="integrated_edit_field58"][data-page="procurementmonitoring_view"][data-itemid="integrated_edit_field58"][data-page="procurementmonitoring_view"][data-itemid="integrated_edit_field58"] {
  font-weight: bold;
}
[data-page="procurementmonitoring_view"][data-itemid="integrated_edit_field16"][data-page="procurementmonitoring_view"][data-itemid="integrated_edit_field16"][data-page="procurementmonitoring_view"][data-itemid="integrated_edit_field16"][data-page="procurementmonitoring_view"][data-itemid="integrated_edit_field16"] {
  font-weight: bold;
}
[data-page="procurementmonitoring_view"][data-itemid="integrated_edit_field17"][data-page="procurementmonitoring_view"][data-itemid="integrated_edit_field17"][data-page="procurementmonitoring_view"][data-itemid="integrated_edit_field17"][data-page="procurementmonitoring_view"][data-itemid="integrated_edit_field17"] {
  font-weight: bold;
}
[data-page="procurementmonitoring_view"][data-itemid="integrated_edit_field18"][data-page="procurementmonitoring_view"][data-itemid="integrated_edit_field18"][data-page="procurementmonitoring_view"][data-itemid="integrated_edit_field18"][data-page="procurementmonitoring_view"][data-itemid="integrated_edit_field18"] {
  font-weight: bold;
}
[data-page="procurementmonitoring_view"][data-itemid="integrated_edit_field19"][data-page="procurementmonitoring_view"][data-itemid="integrated_edit_field19"][data-page="procurementmonitoring_view"][data-itemid="integrated_edit_field19"][data-page="procurementmonitoring_view"][data-itemid="integrated_edit_field19"] {
  font-weight: bold;
}
[data-page="procurementmonitoring_view"][data-itemid="integrated_edit_field20"][data-page="procurementmonitoring_view"][data-itemid="integrated_edit_field20"][data-page="procurementmonitoring_view"][data-itemid="integrated_edit_field20"][data-page="procurementmonitoring_view"][data-itemid="integrated_edit_field20"] {
  font-weight: bold;
}
[data-page="procurementmonitoring_view"][data-itemid="integrated_edit_field21"][data-page="procurementmonitoring_view"][data-itemid="integrated_edit_field21"][data-page="procurementmonitoring_view"][data-itemid="integrated_edit_field21"][data-page="procurementmonitoring_view"][data-itemid="integrated_edit_field21"] {
  font-weight: bold;
}
[data-page="procurementmonitoring_view"][data-itemid="integrated_edit_field22"][data-page="procurementmonitoring_view"][data-itemid="integrated_edit_field22"][data-page="procurementmonitoring_view"][data-itemid="integrated_edit_field22"][data-page="procurementmonitoring_view"][data-itemid="integrated_edit_field22"] {
  font-weight: bold;
}
[data-page="procurementmonitoring_view"][data-itemid="integrated_edit_field23"][data-page="procurementmonitoring_view"][data-itemid="integrated_edit_field23"][data-page="procurementmonitoring_view"][data-itemid="integrated_edit_field23"][data-page="procurementmonitoring_view"][data-itemid="integrated_edit_field23"] {
  font-weight: bold;
}
[data-page="procurementmonitoring_view"][data-itemid="integrated_edit_field24"][data-page="procurementmonitoring_view"][data-itemid="integrated_edit_field24"][data-page="procurementmonitoring_view"][data-itemid="integrated_edit_field24"][data-page="procurementmonitoring_view"][data-itemid="integrated_edit_field24"] {
  font-weight: bold;
}
[data-page="procurementmonitoring_view"][data-itemid="integrated_edit_field25"][data-page="procurementmonitoring_view"][data-itemid="integrated_edit_field25"][data-page="procurementmonitoring_view"][data-itemid="integrated_edit_field25"][data-page="procurementmonitoring_view"][data-itemid="integrated_edit_field25"] {
  font-weight: bold;
}
[data-page="procurementmonitoring_view"][data-itemid="integrated_edit_field26"][data-page="procurementmonitoring_view"][data-itemid="integrated_edit_field26"][data-page="procurementmonitoring_view"][data-itemid="integrated_edit_field26"][data-page="procurementmonitoring_view"][data-itemid="integrated_edit_field26"] {
  font-weight: bold;
}
[data-page="procurementmonitoring_view"][data-itemid="integrated_edit_field27"][data-page="procurementmonitoring_view"][data-itemid="integrated_edit_field27"][data-page="procurementmonitoring_view"][data-itemid="integrated_edit_field27"][data-page="procurementmonitoring_view"][data-itemid="integrated_edit_field27"] {
  font-weight: bold;
}
[data-page="procurementmonitoring_view"][data-itemid="page_image_ash8f23hr"] {
  width: 400px;
}


/*.r-vbar-page .r-content-col .r-body {
  
    background: #ffffff;
    padding-bottom: 15px;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
    box-shadow: 2px 2px #cccccccc;
}

.r-vbar-page .r-content-col .r-body {
  
    background: #ffffff;
    padding-bottom: 15px;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
    box-shadow: 2px 2px #cccccccc;
}

@media print, (min-width: 768px) {
    [data-fullwidth] > * > .r-integrated-field.r-vertical-field:not([data-compact]) > [data-itemid], [data-fullwidth].r-ori-vert > * > [data-itemid] {
        margin-left: 0;
    }
}*/