[data-cellid="grid_headcell_field"][data-page="scheduleofrequirements_list"][data-cellid="grid_headcell_field"][data-page="scheduleofrequirements_list"][data-cellid="grid_headcell_field"][data-page="scheduleofrequirements_list"] {
  background-color: #ffffff;
  width: 25%;
  color: #535353;
  font-size: 10px;
}
[data-cellid="grid_cell_field"][data-page="scheduleofrequirements_list"][data-cellid="grid_cell_field"][data-page="scheduleofrequirements_list"][data-cellid="grid_cell_field"][data-page="scheduleofrequirements_list"] {
  width: 25%;
}
[data-cellid="grid_footcell_field"][data-page="scheduleofrequirements_list"][data-cellid="grid_footcell_field"][data-page="scheduleofrequirements_list"][data-cellid="grid_footcell_field"][data-page="scheduleofrequirements_list"] {
  width: 25%;
  white-space: nowrap;
}
[data-cellid="grid_headcell_field1"][data-page="scheduleofrequirements_list"][data-cellid="grid_headcell_field1"][data-page="scheduleofrequirements_list"][data-cellid="grid_headcell_field1"][data-page="scheduleofrequirements_list"] {
  background-color: #ffffff;
  width: 25%;
  color: #535353;
  font-size: 10px;
}
[data-cellid="grid_cell_field1"][data-page="scheduleofrequirements_list"][data-cellid="grid_cell_field1"][data-page="scheduleofrequirements_list"][data-cellid="grid_cell_field1"][data-page="scheduleofrequirements_list"] {
  width: 25%;
}
[data-cellid="grid_footcell_field1"][data-page="scheduleofrequirements_list"][data-cellid="grid_footcell_field1"][data-page="scheduleofrequirements_list"][data-cellid="grid_footcell_field1"][data-page="scheduleofrequirements_list"] {
  width: 25%;
  white-space: nowrap;
}
[data-cellid="grid_headcell_field2"][data-page="scheduleofrequirements_list"][data-cellid="grid_headcell_field2"][data-page="scheduleofrequirements_list"][data-cellid="grid_headcell_field2"][data-page="scheduleofrequirements_list"] {
  background-color: #ffffff;
  width: 25%;
  color: #535353;
  font-size: 10px;
}
[data-cellid="grid_cell_field2"][data-page="scheduleofrequirements_list"][data-cellid="grid_cell_field2"][data-page="scheduleofrequirements_list"][data-cellid="grid_cell_field2"][data-page="scheduleofrequirements_list"] {
  width: 25%;
}
[data-cellid="grid_footcell_field2"][data-page="scheduleofrequirements_list"][data-cellid="grid_footcell_field2"][data-page="scheduleofrequirements_list"][data-cellid="grid_footcell_field2"][data-page="scheduleofrequirements_list"] {
  width: 25%;
  white-space: nowrap;
}
[data-cellid="grid_headcell_field3"][data-page="scheduleofrequirements_list"][data-cellid="grid_headcell_field3"][data-page="scheduleofrequirements_list"][data-cellid="grid_headcell_field3"][data-page="scheduleofrequirements_list"] {
  background-color: #ffffff;
  width: 25%;
  color: #535353;
  font-size: 10px;
}
[data-cellid="grid_headcell_field4"][data-page="scheduleofrequirements_list"][data-cellid="grid_headcell_field4"][data-page="scheduleofrequirements_list"][data-cellid="grid_headcell_field4"][data-page="scheduleofrequirements_list"] {
  width: 25%;
}
[data-cellid="grid_headcell_field5"][data-page="scheduleofrequirements_list"][data-cellid="grid_headcell_field5"][data-page="scheduleofrequirements_list"][data-cellid="grid_headcell_field5"][data-page="scheduleofrequirements_list"] {
  width: 25%;
  white-space: nowrap;
}
[data-page="scheduleofrequirements_list"][data-itemid="page_image_ash8f23hr"] {
  width: 400px;
}


