[data-cellid="left_c0"][data-page="systemselections_list"][data-cellid="left_c0"][data-page="systemselections_list"][data-cellid="left_c0"][data-page="systemselections_list"] {
  font-weight: bold;
}
[data-cellid="left_c1"][data-page="systemselections_list"][data-cellid="left_c1"][data-page="systemselections_list"][data-cellid="left_c1"][data-page="systemselections_list"] {
  font-weight: bold;
}
[data-cellid="grid_headcell_field1"][data-page="systemselections_list"][data-cellid="grid_headcell_field1"][data-page="systemselections_list"][data-cellid="grid_headcell_field1"][data-page="systemselections_list"] {
  width: 25%;
}
[data-cellid="grid_cell_field1"][data-page="systemselections_list"][data-cellid="grid_cell_field1"][data-page="systemselections_list"][data-cellid="grid_cell_field1"][data-page="systemselections_list"] {
  width: 25%;
}
[data-cellid="grid_footcell_field1"][data-page="systemselections_list"][data-cellid="grid_footcell_field1"][data-page="systemselections_list"][data-cellid="grid_footcell_field1"][data-page="systemselections_list"] {
  width: 25%;
  white-space: nowrap;
}
[data-cellid="grid_headcell_field2"][data-page="systemselections_list"][data-cellid="grid_headcell_field2"][data-page="systemselections_list"][data-cellid="grid_headcell_field2"][data-page="systemselections_list"] {
  width: 25%;
}
[data-cellid="grid_cell_field2"][data-page="systemselections_list"][data-cellid="grid_cell_field2"][data-page="systemselections_list"][data-cellid="grid_cell_field2"][data-page="systemselections_list"] {
  width: 25%;
}
[data-cellid="grid_footcell_field2"][data-page="systemselections_list"][data-cellid="grid_footcell_field2"][data-page="systemselections_list"][data-cellid="grid_footcell_field2"][data-page="systemselections_list"] {
  width: 25%;
  white-space: nowrap;
}
[data-cellid="grid_headcell_checkbox"][data-page="systemselections_list"][data-cellid="grid_headcell_checkbox"][data-page="systemselections_list"][data-cellid="grid_headcell_checkbox"][data-page="systemselections_list"] {
  width: 25%;
}
[data-cellid="grid_cell_checkbox"][data-page="systemselections_list"][data-cellid="grid_cell_checkbox"][data-page="systemselections_list"][data-cellid="grid_cell_checkbox"][data-page="systemselections_list"] {
  width: 25%;
}
[data-cellid="grid_footcell_checkbox"][data-page="systemselections_list"][data-cellid="grid_footcell_checkbox"][data-page="systemselections_list"][data-cellid="grid_footcell_checkbox"][data-page="systemselections_list"] {
  width: 25%;
}
[data-cellid="grid_headcell_icons"][data-page="systemselections_list"][data-cellid="grid_headcell_icons"][data-page="systemselections_list"][data-cellid="grid_headcell_icons"][data-page="systemselections_list"] {
  width: 25%;
}
[data-cellid="grid_cell_icons"][data-page="systemselections_list"][data-cellid="grid_cell_icons"][data-page="systemselections_list"][data-cellid="grid_cell_icons"][data-page="systemselections_list"] {
  width: 25%;
  white-space: nowrap;
}
[data-cellid="grid_footcell_icons"][data-page="systemselections_list"][data-cellid="grid_footcell_icons"][data-page="systemselections_list"][data-cellid="grid_footcell_icons"][data-page="systemselections_list"] {
  width: 25%;
}
[data-page="systemselections_list"][data-itemid="page_image_ash8f23hr"] {
  width: 400px;
}


