[data-cellid="left_c0"][data-page="vw_app_list"][data-cellid="left_c0"][data-page="vw_app_list"][data-cellid="left_c0"][data-page="vw_app_list"] {
  font-weight: bold;
}
[data-cellid="left_c1"][data-page="vw_app_list"][data-cellid="left_c1"][data-page="vw_app_list"][data-cellid="left_c1"][data-page="vw_app_list"] {
  font-weight: bold;
}
[data-cellid="grid_headcell_field1"][data-page="vw_app_list"][data-cellid="grid_headcell_field1"][data-page="vw_app_list"][data-cellid="grid_headcell_field1"][data-page="vw_app_list"] {
  width: 15%;
}
[data-cellid="grid_cell_field1"][data-page="vw_app_list"][data-cellid="grid_cell_field1"][data-page="vw_app_list"][data-cellid="grid_cell_field1"][data-page="vw_app_list"] {
  width: 15%;
}
[data-cellid="grid_footcell_field1"][data-page="vw_app_list"][data-cellid="grid_footcell_field1"][data-page="vw_app_list"][data-cellid="grid_footcell_field1"][data-page="vw_app_list"] {
  width: 15%;
  white-space: nowrap;
}
[data-cellid="grid_headcell_field2"][data-page="vw_app_list"][data-cellid="grid_headcell_field2"][data-page="vw_app_list"][data-cellid="grid_headcell_field2"][data-page="vw_app_list"] {
  width: 20%;
}
[data-cellid="grid_cell_field2"][data-page="vw_app_list"][data-cellid="grid_cell_field2"][data-page="vw_app_list"][data-cellid="grid_cell_field2"][data-page="vw_app_list"] {
  width: 20%;
}
[data-cellid="grid_footcell_field2"][data-page="vw_app_list"][data-cellid="grid_footcell_field2"][data-page="vw_app_list"][data-cellid="grid_footcell_field2"][data-page="vw_app_list"] {
  white-space: nowrap;
}
[data-cellid="grid_headcell_field3"][data-page="vw_app_list"][data-cellid="grid_headcell_field3"][data-page="vw_app_list"][data-cellid="grid_headcell_field3"][data-page="vw_app_list"] {
  width: 15%;
}
[data-cellid="grid_cell_field3"][data-page="vw_app_list"][data-cellid="grid_cell_field3"][data-page="vw_app_list"][data-cellid="grid_cell_field3"][data-page="vw_app_list"] {
  width: 15%;
}
[data-cellid="grid_footcell_field3"][data-page="vw_app_list"][data-cellid="grid_footcell_field3"][data-page="vw_app_list"][data-cellid="grid_footcell_field3"][data-page="vw_app_list"] {
  width: 15%;
  white-space: nowrap;
}
[data-cellid="grid_headcell_field5"][data-page="vw_app_list"][data-cellid="grid_headcell_field5"][data-page="vw_app_list"][data-cellid="grid_headcell_field5"][data-page="vw_app_list"] {
  width: 20%;
}
[data-cellid="grid_cell_field5"][data-page="vw_app_list"][data-cellid="grid_cell_field5"][data-page="vw_app_list"][data-cellid="grid_cell_field5"][data-page="vw_app_list"] {
  width: 20%;
}
[data-cellid="grid_footcell_field5"][data-page="vw_app_list"][data-cellid="grid_footcell_field5"][data-page="vw_app_list"][data-cellid="grid_footcell_field5"][data-page="vw_app_list"] {
  white-space: nowrap;
}
[data-cellid="grid_headcell_field7"][data-page="vw_app_list"][data-cellid="grid_headcell_field7"][data-page="vw_app_list"][data-cellid="grid_headcell_field7"][data-page="vw_app_list"] {
  width: 20%;
}
[data-cellid="grid_cell_field7"][data-page="vw_app_list"][data-cellid="grid_cell_field7"][data-page="vw_app_list"][data-cellid="grid_cell_field7"][data-page="vw_app_list"] {
  width: 20%;
}
[data-cellid="grid_footcell_field7"][data-page="vw_app_list"][data-cellid="grid_footcell_field7"][data-page="vw_app_list"][data-cellid="grid_footcell_field7"][data-page="vw_app_list"] {
  white-space: nowrap;
}
[data-cellid="grid_headcell_field"][data-page="vw_app_list"][data-cellid="grid_headcell_field"][data-page="vw_app_list"][data-cellid="grid_headcell_field"][data-page="vw_app_list"] {
  width: 10%;
}
[data-cellid="grid_headcell_field9"][data-page="vw_app_list"][data-cellid="grid_headcell_field9"][data-page="vw_app_list"][data-cellid="grid_headcell_field9"][data-page="vw_app_list"] {
  width: 10%;
}
[data-cellid="grid_headcell_field10"][data-page="vw_app_list"][data-cellid="grid_headcell_field10"][data-page="vw_app_list"][data-cellid="grid_headcell_field10"][data-page="vw_app_list"] {
  width: 10%;
  white-space: nowrap;
}
[data-page="vw_app_list"][data-itemid="page_image_ash8f23hr"] {
  width: 400px;
}


